@using System
@using System.Net
@using System.Net.Mail
@using Portfolio.Models

<EditForm Model="@form" OnValidSubmit="HandleSubmit" formname="contactForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="contact-form">
        <div class="form-group">
            <label>Name</label>
            <input type="text" @bind="form.Name" />
            <ValidationMessage For="@(() => form.Name)" />
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" @bind="form.Email" />
            <ValidationMessage For="@(() => form.Email)" />
        </div>

        <div class="form-group">
            <label>Message</label>
            <textarea type="text" @bind="form.Message" ></textarea>
            <ValidationMessage For="@(() => form.Message)" />
        </div>

        <button type="submit" disabled="@IsSending">
            @(IsSending ? "Sending..." : "Submit")
        </button>

        @if (IsSending)
        {
            <div class="loader"></div>
        }

        @if (SuccessMessage != null)
        {
            <p class="success">@SuccessMessage</p>
        }
    </div>
</EditForm>

@code {
    private ContactValidationModel form = new();
    private string? SuccessMessage;
    private bool IsSending = false;


    private async Task HandleSubmit()
    {
        try
        {
            IsSending = true;
            await SendEmailAsync();
            SuccessMessage = "Your message has been sent successfully!";
            form = new ContactValidationModel(); // reset form
        }
        catch (Exception ex)
        {
            SuccessMessage = "Failed to send message.";
            Console.WriteLine(ex.Message);
        }
        finally
        {
            IsSending = false;
        }
    }

    private async Task SendEmailAsync()
    {
        var smtp = new SmtpClient("smtp.gmail.com")
        {
            Port = 587,
            Credentials = new NetworkCredential("nancyhou958@gmail.com", "ekkl ghgb akog pdno"),
            EnableSsl = true
        };

        var mail = new MailMessage
        {
            From = new MailAddress("nancyhou958@gmail.com"),
            Subject = $"Portfolio Contact: {form.Name}".Trim(),
            Body = $"Email: {form.Email}\n\nMessage:\n{form.Message}"
        };

        mail.To.Add("nancyhou958@gmail.com");

        await smtp.SendMailAsync(mail);
    }
}
